# Virtual environments
yoloenv/
.venv/

# Dataset
DSPCBSD+-1/
DSPCBSD-1/

# Model weights
*.pt
*.onnx
*.engine
*.torchscript

# Cache
*.cache
__pycache__/
*.pyc

# Secrets
.env

# Ignore heavy training images if needed
runs/**/weights/